PORT=3000
DB_HOST=localhost
DB_PORT=5434
DB_NAME=pelucia
DB_USER=postgres
DB_PASSWORD=postgres
VITE_API_BASE_URL=http://localhost:3000
ADMIN_EMAIL=evelypaz2010@gmail.com
ADMIN_PASSWORD=evely123
ADMIN_TOKEN_SECRET=4f7d89b4a491d4274b5a36df781500e8ebf49a7426d22f52589da40bf5495b75
