:root {
  --azul-logo: #2d76b9;
  --amarelo-logo: #fbe4a1;
  --azul-titulo: #2d76b9;
  --cinza-subtitulo: #717182;
  --branco: #ffffff;
  --brancogelo: #f5f5f5;
  --preto-destaque: #1a1a1a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--branco);
  color: var(--preto-destaque);
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: inherit;
}