.hero-home {
  background-color: var(--azul-titulo);
  color: var(--branco);
  padding: 80px;
}

.hero-conteudo {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 100px;
}

.hero-texto {
  flex: 1;
  min-width: 280px;
}

.hero-foto {
  flex: 1;
  min-width: 280px;
}

.hero-texto h1 {
  max-width: 520px;
  font-size: 54px;
  line-height: 1.15;
}

.hero-texto p {
  max-width: 520px;
  margin-bottom: 10px;
}

.hero-botoes {
  display: flex;
  gap: 14px;
  flex-wrap: wrap;
}

.btn-dourado,
.btn-contorno-branco {
  min-height: 40px;
  display: inline-flex;
  align-items: center;
  border-radius: 6px;
  padding: 0 20px;
}

.btn-dourado {
  background-color: var(--amarelo-logo);
  color: var(--preto-destaque);
}

.btn-dourado img {
  width: 17px;
  height: 17px;
  margin-right: 10px;
}

.btn-contorno-branco {
  border: 1px solid var(--branco);
}

.hero-imagem {
  max-width: 520px;
  border-radius: 12px;
  display: block;
}

.parceiros {
  background-color: var(--branco);
  padding: 58px 0;
}

.titulo-secao {
  text-align: center;
  margin-bottom: 42px;
}

.titulo-secao h2 {
  color: var(--azul-titulo);
  font-size: 32px;
}

.titulo-secao p {
  color: var(--cinza-subtitulo);
}

.parceiros-lista {
  display: flex;
  flex-wrap: wrap;
  gap: 70px;
}

.parceiro-card {
  flex: 1;
  min-width: 180px;
  height: 110px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--brancogelo);
  border-radius: 8px;
  color: #9ca3af;
}

.contato {
  background-color:var(--brancogelo);
  padding: 58px ;
}

.formulario-contato {
  max-width: 600px;
  margin: 0 auto;
  background-color: var(--branco);
  border: 1px solid #dddddd;
  border-radius: 8px;
  padding: 24px;
}

.formulario-contato label {
  display: block;
}

.formulario-contato input,
.formulario-contato textarea {
  width: 100%;
  border: 0;
  border-radius: 6px;
  background-color: var(--brancogelo);
  padding: 12px;
  margin-bottom: 18px;
}



.formulario-contato button {
  width: 100%;
  background-color: var(--azul-titulo);
  color: var(--branco);
  border-radius: 6px;
  padding: 13px;
}
